.item {
    @apply text-center text-blue-950 pb-1 relative hover:text-blue-900 cursor-pointer transition-all ease-in-out before:transition-[width]
    before:ease-in-out before:duration-700 before:absolute before:bg-yellow-950 before:origin-center before:h-[1px]
    before:w-0 hover:before:w-[40%] before:bottom-0 before:left-[40%] after:transition-[width] after:ease-in-out
    after:duration-700 after:absolute after:bg-indigo-900 after:origin-center after:h-[1px] after:w-0 hover:after:w-[40%] after:bottom-0 after:right-[40%]
}